<h4>Here is your product</h4>
<h5>[From the pages: update.html.erb and show.html.erb]</h5>
<%= form_tag "/products/#{@product.id}", method: :post do %>

<p><b>Product ID: </b><%= @product.id %></p>
<p></p>

<p><b>Product Name: </b><%= @product.name %></p>
<p></p>

<p><b>Product Supplier: </b><%= @product.supplier.name %></p>
<p></p>

<p><b>Product Price: </b>$<%= @product.price %></p>
<p></p>

<p><b>Product Image:</b></p>
<p><img src="<%= @product.image %>" width="400px"></p>

<p><b>Product Description: </b><%= @product.description %></p>
<p></p>

<% end %>
<p><a href="/products/<%= @product.id %>/edit">Edit This Product:</a></p>